DB_HOST=localhost
DB_PORT=5432 
DB_USER=postgres # usuario al crear la bd en pgadmin (por defecto es postgres)
DB_PASSWORD=root # password al crear la bd en pgadmin
DB_NAME=gestor_de_proyectos_tp  # Agregar el nombre que le diste al crear la bd en pgadmin
NODE_ENV=development 
DB_LOGGING=true
SWAGGER_HABILITADO=true
JWT_SECRET="x296JPelFU8+9iGjh2Lgwurtg78GD7GNpWJpGmGw1fg=" 
